h2{
    color: white
}

ion-item{
    color: white
}


.question-container {
    width:100;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}